<h2 class='header'>Welcome, Robot</h2>
<p>Do you need to edit your values?</p>
<form action='/robots/<%= @robot.id %>' method='post'>
  <input type="hidden" name="_method" value="put"/>
  <label for='robot_name'>Robot name:</label>
  <input id='robot_name' type='text' name='robot[name]' value="<%= @robot.name %>" class="form-control"/></br>
  <label for='robot_city'>Robot city:</label>
  <input id='robot_city' type='text' name='robot[city]' value="<%= @robot.city %>" class="form-control"/></br>
  <label for='robot_state'>Robot state:</label>
  <input id='robot_state' type='text' name='robot[state]' value="<%= @robot.state %>" class="form-control"/></br>
  <label for='robot_birthday'>Robot birthday:</label>
  <input id='robot_birthday' type='text' name='robot[birthday]' value="<%= @robot.birthday %>" class="form-control"/></br>
  <label for='robot_hire_date'>Robot hire date:</label>
  <input id='robot_hire_date' type='text' name='robot[hire_date]' value="<%= @robot.hire_date %>" class="form-control"/></br>
  <label for='robot_department'>Robot department:</label>
  <input id='robot_department' type='text' name='robot[department]' value="<%= @robot.department %>" class="form-control"/></br>
  <input type='submit' value='Prepare to be assimilated!'/>
</form>
