<div class="jumbotron">
  <div class="well well-sm">
    <h2 class='header'>Citizens of Robot World</h2>
  </div>
  <div class="row">
    <% @robots.each do |robot| %>
      <a class="robot_profile_link" href="/robots/<%= robot.id %>">
        <div class="container col-md-4">
          <div class="well user_well">
            <div class="row">
              <div class="col-md-7">
                <h2>Name:   <small><%= robot.name %></small></h2>
                <h2>Job:   <small><%= robot.department %></small></h2>
                <h2>Location:   <small><%= robot.city + ", " + robot.state %></small></h2>
              </div>
              <div class="col-md-5">
                <img src="https://robohash.org/<%= robot.avatar_id %>" alt="<%= robot.name %>" class='center-block robo_pic'>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
