<div class="jumbotron">
  <h2 class='header'>Citizens of Robot World</h2>

  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Hire date</th>
      <th>Department</th>
      <th></th>
    </tr>
    <% @robots.each do |robot| %>
    <tr>
      <td><a href="robots/<%= robot.id %>"><%= robot.name %></a></td>
      <td><%= robot.city %>, <%= robot.state %></td>
      <td><%= robot.hire_date %></td>
      <td><%= robot.department %></td>
      <td><a href="/robots/<%= robot.id %>/edit">Edit</a></td>
    </tr>
    <% end %>
  </table>
</div>
