

<!-- <div class='row well'>
<div class='col-md-6'>
<h2>I'm learning Bootstrap!</h2>
<p>Biscuit gingerbread powder. Marshmallow donut pie lollipop sugar plum jelly beans. Jelly-o wafer cake candy cotton candy. Brownie icing gummies marshmallow bonbon I love souffle lemon drops tart. I love I love toffee. Tart jujubes candy canes. Toffee chupa chups dragee gummies chocolate bar caramels powder topping brownie. Tiramisu bear claw jelly beans halvah toffee biscuit powder. Chocolate chupa chups marzipan jelly sweet roll. Brownie pastry pie lollipop. I love jujubes fruitcake cupcake candy canes apple pie dragee. Sugar plum candy canes pastry caramels bonbon brownie chocolate. Lemon drops sugar plum cake.</p>
<button type = 'button' class='btn btn-default'>This is button</button>
<button type = 'button' class='btn btn-primary'>Push Butan</button>
</div>

<div class='col-md-6'>
<img src='images/taylor.jpg' alt='taylor' class='center-block'>
</div>
</div> -->
<div class="jumbotron">
  <div class="row">
    <div class='well col-md-8'>
      <h2>Name: <small><%= @robot.name %></small></h2>
      <h2>City: <small><%= @robot.city %></small></h2>
      <h2>State: <small><%= @robot.state %></small></h2>
      <h2>Birthday: <small><%= @robot.birthday %></small></h2>
      <h2>Hire Date: <small><%= @robot.hire_date %></small></h2>
      <h2>Department: <small><%= @robot.department %></small></h2>
    </div>

    <div class='col-md-4'>
      <img src="https://robohash.org/<%= @robot.avatar_id %>" alt="<%= @robot.name %>" class='center-block'>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <form class="col-md-8" action="/robots/<%= @robot.id %>/edit" method="get">
        <input class="btn btn-warning" type="submit" name="delete" value="I made a mistake and must correct it"/>
      </form>
      <form class="col-md-4" action="/robots/<%= @robot.id %>" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input class="btn btn-danger" type="submit" name="delete" value="DESTROY MY HARD DRIVE"/>
      </form>
    </div>
  </div>
</div>
